section{
  text-align: center;
  padding: 1%;
}


/*

COLORS

*/
.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

.indigo {
  background-color: indigo;
}

.maroon {
  background-color: maroon;
}

.turq {
  background-color: turquoise;
}

.box{
  height: 200px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 20px;
}
